# WordPress files to ignore
/app/public/wp-config.php
/app/public/wp-content/uploads/
/app/public/wp-content/upgrade/
/app/public/wp-content/cache/
/app/public/wp-content/blogs.dir/
/app/public/backups/

# Local server config and logs
/conf/
/logs/
*.log
.DS_Store
.env
.envrc

# IDE files
.vscode/
.idea/
